<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prasanth.cryptolist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAyoGpIxZZfhaWwt2MudObDSPzThOASGoo" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <service
            android:name=".service.SampleBackgroundService"
            android:exported="false" />
        <service
            android:name=".service.AidlService"
            android:exported="true" />

        <activity android:name=".view.CryptoListActivity"></activity>
        <activity
            android:name=".view.AutoCompleteActivity"
            android:label="@string/title_activity_auto_complete"></activity>
        <activity
            android:name=".service.ServiceStarter"
            android:label="@string/title_activity_service_starter" />
        <activity android:name=".view.LifecycleActivity" />
        <activity
            android:name=".view.LocalActivity"
            android:label="@string/title_activity_local" />
        <activity android:name=".contentprovider.MainActivity" />

        <provider
            android:name=".contentprovider.NoteProvider"
            android:authorities="com.example.MyApplication.NoteProvider" />

        <activity android:name=".service.AidlStarter" />
        <activity android:name=".sharedmemory.SharedActivity"></activity>

        <service
            android:name=".sharedmemory.server.ShmService"
            android:exported="true" />

        <activity android:name=".service.MessengerStartActivity"></activity>

        <service
            android:name=".service.MessengerService"
            android:exported="true"
            android:process=":test" />

        <activity android:name=".map.MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>